* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(125, 125, 125, 0.1);
  min-height: 100vh;
  margin: 0;
}

.page-wrapper {  
  margin: 0 auto;
  width: 900px;
  height: 100%; 
}

.page-wrapper h1 {
  text-align: center;
  font-family: sans-serif;
}

#container {
  background-color: white;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

#preview {
  padding: 4rem;
  padding-top: 1.5rem;
  font-size: 1.3rem;
  overflow-wrap: break-word;
  padding-bottom: 120px;
  font-family: 'Inter', sans-serif;
}

.editor {
  position: fixed; 
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 900px;
  height: 100px;
  max-height: 99vh;
  gap: 0;
  resize: both;
}

#edit-button {
  position: relative;  
  z-index: 10;
  bottom: 5%;
  width: 140px;
  height: 70px;  
  background: radial-gradient(#48CFE0, 80%, #43B3F7);
  border-radius: 50px;
  color: white;
  text-align: center;
  line-height: 70px;
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  cursor: pointer;  
}

#edit-button::selection {
  background-color: transparent;
}

#edit-button i{
  font-size: 1.35rem;
}

#tab {
  height: 100%;
  margin: 0 10px 0 12px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

#tools {
  display: flex;
  align-items: center;
}

.tool {
  border-radius: 10px;
  background-color: lightgray;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  line-height: 35px;
  font-size: 1.4rem;
  border: 1px solid rgba(0,0,0,0.1);
}

.tool::selection {
  background-color: transparent;  
}

.tool:hover {
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
  border: 1px solid white;
}

.tool:active {
  box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
  font-size: 1.2rem;  
}

#close {
  background-color: rgb(200, 50, 100);
}

.fa-solid {
  line-height: 35px;
}

textarea {
  font-size: 1.1rem;
  padding: 15px;
  border: none;
  resize: none;  
}

textarea:focus {
  outline: none;
}

.area-opened {
  width: 100%;
  height: 100%;
  border: none;
  border-left: 4px solid #43B3F7;
  border-right: 4px solid #43B3F7;
}

.area-closed {  
  display: none;
}

#preview h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;  
  padding-bottom: 0.7rem;
  border-bottom: 5px solid rgba(0,0,0,0.15);
  margin-bottom: 3rem;
}

h2, h3, h4 {
  text-indent: 2rem;  
}

h2 {
  padding-bottom: 0.7rem;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

p {
  text-indent: 2rem;
}

a {
  text-decoration: none;
  color: black;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

a:hover {
  background-color: gray;
  color: white;
  border-radius: 5px;
}

ul, ol {
  margin-left: 40px;
  padding: 0;
}

li {
  margin-left: 20px;
}

pre {
/*  margin-left: 2rem;*/
/*  margin-right: 2rem;*/
  padding: 15px;
  border: 1px solid rgba(125,125,125,0.25);;
  background-color: rgba(125,125,125,0.05);
  border-radius: 8px;
  box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.1);  
  overflow: auto;
  margin-left: 40px;
  margin-right: 40px;  
}

pre code {
  background-color: transparent;
  border: none;
}

code {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(125,125,125,0.25);;
  background-color: rgba(125,125,125,0.05);
}

blockquote {
  border-left: 15px solid lightgray;  
  padding: 20px;
  background-color: rgba(125,125,125, 0.1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
  border-right: 1px solid rgba(125,125,125,0.25);
  border-bottom: 1px solid rgba(125,125,125,0.25);  
/*  border-radius: 8px;*/
/*  border-bottom-left-radius: 15px;*/
/*  margin: 0;*/
}

blockquote p{
  margin: 0;
  text-indent: 0;
}

img {
  width: calc(100% - 80px);
  display: block;
  margin-left: 40px;
}

@media(max-width: 900px) {
  .page-wrapper {
    width: 100%;    
  }
  
  #preview {
    padding-left: 3%;
    padding-right: 3%;    
  }
  
  #container {
    border-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
  }
  
  .editor {
    width: 100%;
  }
  
  h2 {
    text-align: center;
    text-indent: 0;
  }
}

@media(max-width: 600px) {
  p {
    font-size: 1rem;
  }
  
  li {
    font-size: 1rem;
  }
  
  #preview h1 {
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2, h3, h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  pre {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  code {
    font-size: 1rem;
    padding: 2px;
  }
  
  blockquote {
    padding: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
}